<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="./img/icon.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>The APIs used are <a href="https://www.mapbox.com">mapbox.com</a> and <a href="https://weatherstack.com">weatherstack.com</a></p>
            <p>My name is Merligus and my github is at <a href="http://github.com/Merligus">github.com/Merligus</a>.</p>
            <img class="portrait" src="./img/Merlin_official.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>